<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action ="user-login" method ="post">
<h3>User Login</h3>
<table>
	<tr>
		<td>NAME</td>
		<td><input type="text" id="name" name="name" size="30"></td>
		<td>PASSWORD</td>
		<td><input type="text" id="password" name="password" size="30"></td>
	</tr>
	<tr><td><button type="submit" id="button" >Login</button></td></tr>
</table>
</form>
</body>
</html>


